@charset "UTF-8";
* {margin: 0; padding: 0; border: 0; font-size: 100%;} 

body {
	background-image: url("../images/newspaper.jpg");
	margin: 0; padding: 0; border: 0; font-size: 100%;
}

.button {
	background-color: beige;
	width: 120px;
	height: 64px;
	border-radius: 50px;
	margin-left: 32px;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button:hover{
	background-color: white
}

nav {
	display: flex;
	flex-direction: row;
}

.navbuttons {
	text-decoration: none;
	color: cadetblue;
}

.googlefont {
	margin-top: 2px;
	font-family: 'Raleway', sans-serif;
}

.hoodies {
	background-color:burlywood;
	border: 1px solid grey;
	width:876px;
	height: 800px;
	margin-left: auto;
	margin-right:auto;
	padding-left: 12px;
	padding-right: 12px;
}

.stussyhoodie{
	float:left;
	padding-right: 50px;
}
.header1 {
	background-color:khaki;
	background-image: url("../images/stussybanner.jpg");
	border: 1px solid grey;
	width:900px;
	height: 264px;
	margin-left:auto;
	margin-right: auto;
}

.my-container {
	color:black;
	background-color: beige;
	border: 1px solid grey;
	text-align: center;
	width:876px;
	height: 160px;
	margin-left: auto;
	margin-right:auto;
	padding-left: 12px;
	padding-right: 12px;
}